@charset "UTF-8";
/* 비밀번호 만료 알림창 */
.main_notice_pop .btn_close {
      position: absolute;
      top: 25px;
      right: 0;
      transform:translate(-50%,-50%);
      z-index: 1;
  }
  #alert-popup{
  	border:1px solid #55555563;
  	border-radius:15px;
  	width: 400px;
  	height:200px;
  	padding: 40px;
  }