<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!--은아-->
		<typeAlias type="com.liclass.client.login.vo.UserVO" alias="User"/>
		<typeAlias type="com.liclass.client.classes.vo.ClassVO" alias="Class"/>
		<typeAlias type="com.liclass.client.likes.vo.LikesVO" alias="Likes"/>
		<typeAlias type="com.liclass.client.review.vo.ReviewVO" alias="Review"/>
		<typeAlias type="com.liclass.client.qnaboard.vo.QnaVO" alias="Qna"/>
      	<typeAlias type="com.liclass.admin.management.center.vo.CenterVO" alias="Center"/>
		
		<!--웅배-->
        <typeAlias type="com.liclass.client.reserve.ReserveVO" alias="reserve"/>
         <typeAlias type="com.liclass.client.payment.vo.PaymentVO" alias="payment"/>
         <typeAlias type="com.liclass.client.payment.vo.RefundVO" alias="refund"/>
         <typeAlias type="com.liclass.admin.episode.vo.EpisodeVO" alias="episode"/>
         
         <!--민섭,소영-->
        <typeAlias type="com.liclass.admin.management.center.vo.CenterVO" alias="center"/>		
		<typeAlias type="com.liclass.admin.management.studio.vo.StudioVO" alias="studio"/>		
		<typeAlias type="com.liclass.admin.login.vo.AdminLoginVo" alias="adminLogin"/>
		<typeAlias type="com.liclass.admin.management.dashboard.vo.DashBoardVo" alias="dashBoard"/>
		<typeAlias type="com.liclass.admin.management.qnaboard.vo.QnaBoardVo" alias="qnaBoard"/>
		<!-- <typeAlias type="com.spring.client.reply.vo.ReplyVO" alias="reply"/>
		<typeAlias type="com.spring.admin.login.vo.AdminLoginVO" alias="adminLogin" /> -->
	</typeAliases>
</configuration>

